<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LivroCSharp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <ul class="flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="desafio" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Desafio
            </NavLink>
        </li>
       
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="variaveis">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Variáveis
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="metodo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Método
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="conversoes">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Conversões
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="imc">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> IMC
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="notas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Notas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dadossimples">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Dados
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
