@page "/conversoes"


<h3>Conversões</h3>

<div class="card">
    <div class="card-header text-center">
        Calculadora de Caminhada
    </div>

    <div class="card-body">
        <div class="text-white bg-info text-center border rounded">
            Tempo de Percurso
        </div>

        <div class="p-3">
            Hora da Saída: @horaSaida h <br/>
            Distância Percorrida: @distanciaKm Km <br />
            Tempo de Percurso: @horaAndada h <br/>
            Hora da Chegada: @horaChegada h <br/>
        </div>

        <div class="text-center">
            <button class="btn btn-outline-primary" @onclick="CaucularPercurso">
                Calcular
            </button>
        </div>
    </div>
</div>




@code {
    int horaSaida = 10;
    int horaChegada;
    int horaAndada;
    double distanciaKm = 9;
    double KmPorHora = 4.5;


    void CaucularPercurso()
    {

        horaAndada = (int)(distanciaKm / KmPorHora);
        horaChegada = horaSaida + horaAndada;
    }


}
